body{
    font-size: 20px;
    color: black;
    background: pink;
    text-align: center;
    width: 1010px; height:500px; margin: 0 auto;
    font-family: 'Nunito', sans-serif;

}

.media{
    padding: var(--size-3);
    background: var(--surface-2);
    border-radius: var(--radius-2);
}

.scroll{
    display: grid;
    gap: var(--size-3);
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
