
body{
    font-size: 20px;
    color: rgb(185, 90, 106);
    background: pink;
    text-align: center;
    width: 1010px; height:500px; 
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: rgb(185, 90, 106);
    display: flex;
    flex-direction: column;

}

header {
    
    background-color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    padding: 15px;
    width: 55rem;
    height: 100px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.139);
}

h2{
    background-color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    padding: 15px;
    width: 960px;
    height: 40px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.139);

}

#top{
    text-align: center;
}

.media{
    margin-top: 25px;

    margin-bottom: 25px;
    /* text-align: center;
    display: grid;
    width: 500px;
    grid-template-rows: min-content;
    padding: 10px; */
}

.media img{
    display: block;
    margin: 0 auto;
}

img{
    width:210px;

    max-height: 210px;
    margin: 5px;
    border-radius: 10px;

    }

img:hover{
    transform: scale(1.07, 1.07);
}

.scroll1{
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    gap: 50px;

    /* overflow-x: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    overscroll-behavior-inline: contain;
} */
}

.scroll1 .media{
    
    flex-shrink: 0;
    scroll-snap-align: start;
}

.scroll1::-webkit-scrollbar {
    width: 1px; 
 }

 .scroll1::-webkit-scrollbar-track {
  background-color: pink;
}

.scroll1::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 25px;
}
  

.scroll2{
    display: grid;
    gap: var(--size-5);
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
