
body{
    font-size: 20px;
    color: black;
    background: pink;
    text-align: center;
    width: 1010px; height:500px; 
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;

}

header {
    
    background-color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    padding: 15px;
    width: 875px;
    height: 100px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.139);
}

h2{
    background-color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    padding: 15px;
    width: 960px;
    height: 40px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.139);

}

#top{
    text-align: center;
}
.media{
    display: grid;
    width: 230px;
    grid-template-rows: min-content;
    padding: 10px;
    background: var(--surface-2);
    border-radius: var(--radius-2);
}

#imgs{
    width:200px;
    border: 5px solid #ffffff;
    margin: 5px;
    
}

#imgs:hover{
    transform: scale(1.07, 1.07);
}

.scroll1{
    display: grid;
    gap: var(--size-3);
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
  

.scroll2{
    display: grid;
    gap: var(--size-5);
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
