

h1{
    font-family: 'Quicksand', sans-serif;    color: white;
    color: rgb(0, 0, 0);
    font-size: 50px;
}

body{
    font-size: 20px;
    color: black;
    background: pink;
    text-align: center;
    width: 1010px; height:500px; margin: 0 auto;
    font-family: 'Nunito', sans-serif;

}

.parent{
    text-align: center;
}

.child{
    display: inline-block;
    vertical-align: middle;
}
#produtos{
    display: inline-block;
    flex-basis: 0%;


}
#destaques{
    display: inline-block;
    flex-basis: 0%;

}

@media(min-width: 680px){
	.container-father{
 	margin: auto;

	/*justify-content: space-between;*/
}}
